/*Game styling*/

html {
    /* 
    Default font size in browsers is 16px = 1em, 
    but is easier to if 10px is base size.
    So 10px/16px = 0.625 = 1rem for root element.
    1rem is now 10px
    But font-size should be in %
    https://dev.to/swastikyadav/convert-px-to-rem-an-effective-workflow-4m4j
    */
    font-size: 62.5%;
  }

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #000000;
}

#time-left {
  color: #ff0000;
}

.grid {
  margin: auto;
  /*allow 0.1rem for borders - see .squares*/
  width: 31.6rem;
  height: 30.6rem;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  height: 10rem;
  width: 10rem;
  background-color: #000000;
  border: solid #ffffff 0.1rem;
}

.target {
  background-color: #ff00ff; 
}

.buttons {
  padding-top: 0.5rem;
}

@media all and (max-width: 600px) {
  html {
    font-size: 8px;
  }
}